.custom-control-label::after,
.custom-control-label::before {
  display: none;
}

.custom-control {
  padding-left: 0;
}

.custom-control-inline {
  margin-right: 0;
}

.date-group-items input {
    visibility: hidden;
}

.date-group-labels {
    border: 1px solid #ccc;
    border-radius: 0px;
    font: bold 11px Roboto, sans-serif;
    padding: 6px 7px;
    background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
    background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
    cursor: pointer;
  }

  .date-group-labels.date-group-labels-checked {
    background-image: -webkit-linear-gradient(top, #eee, #e3e3e3);
    background-image: -moz-linear-gradient(top, #eee, #e3e3e3);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

.custom-radio:first-child .date-group-labels {
  border-radius: 3px 0 0 3px;
}

.custom-radio:last-child .date-group-labels {
  border-radius: 0 3px 3px 0;
}

.custom-radio:not(:last-child) .date-group-labels {
  border-right: none;
}

.date-group-labels:hover {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.card {
  margin: 15px;
  padding: 15px;
}